# Ignora entorno virtual (comúnmente llamado venv, env o .venv)
venv/
env/
.venv/

# Archivos de configuración de Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs o salidas
*.log

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de dependencias temporales
*.egg-info/
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de entorno (.env si usas variables secretas)
.env
